<ion-view title="landing" hide-nav-bar="true">
  <ion-content class="padding">
    <div style="text-align: center;" ng-controller="Landing" >
        <br /><br /><br /><br />
        <img src="img/logo_hooq.png"/>
        <button class="button button-outline button-block button-light" ng-click="signup()">
            Block Button
        </button>
        <button class="button button-block button-light" ng-click="login()">
            Block Button
        </button>
        <button class="button button-clear button-block button-light" ng-click="skip('haha')">
            Block Button
        </button>
    </div>
  </ion-content>
</ion-view>
