<ion-view view-title="Video player" ng-controller="DashCtrl">
  <ion-content class="padding">
    <ion-card>
      <ion-card-header>Specials</ion-card-header>
      <ion-card-content style="text-align: center;">
        <ion-slide-box slidesPerView="2">
          <ion-slide ng-repeat="movie in featured"  href="#/videopage/{{movie.id}}" >
            <a href="#/videopage/{{movie.id}}" ><img ng-src="{{movie.url}}" ><br />
            {{movie.title}}</a>
          </ion-slide>
        </ion-slide-box>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>Locals</ion-card-header>
      <ion-card-content style="text-align: center;">
        <ion-slide-box slidesPerView="2">
          <ion-slide ng-repeat="movie in locals"  ng-click="gotoVideo({{movie.id}})" >
            <img ng-src="{{movie.url}}" ><br />
            {{movie.title}}
          </ion-slide>
        </ion-slide-box>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-view>
